@import './reset.css';
@import './sprite.css';

/* Loing */

.login {
    background: url('../img/bg_login.jpg');
    background-size: cover;
    height: 100vh;
}

.login_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    transform: translate(-50%, -50%);
}

.login_wrap h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fefffb;
    margin: 0 0 26px;
    text-align: center;
}

.login_wrap h2 span:first-child {
    display: block;
    width: 80px;
    height: 45px;
    margin: 0 auto 20px;
}

.login_wrap ul {
    background: #fcfdff;
    border-radius: 5px;
    padding: 25px 50px;
    text-align: center;
}

.login_wrap ul li {
    padding: 25px 0;
}

.login_wrap ul li:first-child {
    font-size: 18px;
}

.login_wrap ul li input {
    width: 100%;
    height: 52px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #c9ccdd;
    box-sizing: border-box;
    text-indent: 4px;
}

.login_wrap ul li input::-webkit-input-placeholder {
    font-size: 10px;
    color: #c9ccdd;
}

.login_wrap ul li input[type="checkbox"] {
    position: absolute;
    left: -3000%;
}

.login_wrap ul li input[type="checkbox"] + label {
    height: 21px;
}

.login_wrap ul li input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 2px solid #b6b7b9;
    background: #fff;
    margin: 0 17px 0 0;
    vertical-align: -6px;
}

.login_wrap ul li input[type="checkbox"]:checked + label::before {
    background: #b6b7b9;
}

.login_wrap ul li button {
    width: 100%;
    height: 48px;
    background: #00adee;
    border-radius: 5px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 13px;
}

.login_wrap div {
    text-align: center;
    margin: 50px 0 0 0;
}

.login_wrap div a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.login_footer {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
}
.login_footer div {
    color: #eee;
    text-align: center;
    width: 420px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}


/* Header */
.admin__wrap {width: 100%;}
.admin__wrap--contents {background: #edf0f5;}
.admin__header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65pxpx;
    background: url(../img/header_bg.png) repeat-x;
    z-index: 9999;
}

.admin__header:after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
    height: 0;
}

.admin__header .btn_nav {
    position: absolute;
    top: -5px;
    left: 0;
    width: 96px;
    height: 70px;
    padding: 26px;
    background: #00479b;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: .3s;
}

.admin__header .btn_nav.toggle {
    background: #00adee;
}

.admin__header .btn_nav span {
    position: absolute;
    display: block;
    width: 32px;
    height: 3px;
    background: #fff;
    margin: 3px;
    transition: .3s;
}	

.admin__header .btn_nav span:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: .3s;
}

.admin__header .btn_nav span:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: .3s;
}

.admin__header .btn_nav.toggle span {
    background: transparent;
}

.admin__header .btn_nav.toggle span:before {
    top: 0;
    transform: rotate(45deg);
}
.admin__header .btn_nav.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}

.admin__header .admin__logo {
    float: left;
    width: 270px;
	height: 65px;
    padding: 0 0 0 139px;
    background:  #00479b;
}

.admin__header .admin__logo a {
    color: transparent;
    text-indent: -3000px;
}

.admin__header .admin__logo img {
    padding: 13px 0 0 0;
}

.admin__gnb-list {
    float: left;
    margin-left: 75px;
    padding-top: 32px;
	color: #fff;
}

.admin__gnb-item {
    float: left;
    position: relative;
}

.admin__gnb-item ~ li {
    margin-left: 40px;
}

.admin__gnb-item span {
    position: absolute;
    display: inline-block;
    top: -6px;
    left: -38px;
}

.admin__gnb-item a {
    color: #fff;
}
.admin__gnb-item ~ li a:before {
    position: absolute;
    display: block;
    top: 3px;
    left: -18px;
	background: url('../img/sprite.png');	
	background-position: -501px -145px;
	width: 7px;
    height: 11px;    
    content: '';
}

.admin__gnb-list:after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
    height: 0;
}

.admin__update-info {
	float: right;
    padding: 30px 62px 0 0;
    color: #fff;
}

.admin__update-detail {
    float: left;
}

.admin__update-detail span {
    font-weight: bold;
}

.admin__update-detail em {
    display: inline-block;
    padding-left: 20px;
}



.admin__snb-wrap {
    position: fixed;
    top: 65px;
    left: -409px;
    width: 409px;
    height: 100%;
    background: #fff;
    z-index: 999;
    transition: .3s;
}

.admin__snb-wrap.active {
    left: 0;
}

.admin__snb {
    padding: 0 51px 0 37px;
}

.admin__snb > li {
    padding: 0;
}

.admin__snb > li:hover,
.admin__snb > li.active {
    background: #eee;
}

.admin__snb > li > a {
    position: relative;
    display: block; 
    height: 60px; 
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #6a6c6f;
    text-indent: 38px;
    padding: 0 0 0 10px;
}

.admin__snb > li > a > span {
    position: absolute;
    top: 17px;
    left: 15px;
}

.admin__snb > li~li > a:after {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -470px -147px;
    width: 9px;
    height: 7px;
}

.admin__snb > li.on:first-child > a:after {
    display: none;
}

.admin__snb ul {
    display: none;
    padding: 10px 0 0 56px;
    background: #fff;
}

.admin__snb ul a {
    position: relative;
    font-weight: 500;
    color: #a2a2a2;
}

.admin__snb ul a:hover {
    color: #6a6c6f;
}

.admin__snb > li.on > a + ul {
    display: block;
}

.admin__snb > li.on > a:after {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -436px -147px;
    width: 9px;
    height: 7px;
}

.admin__snb ul a:hover:before,
.admin__snb ul a.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -19px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -405px -147px;
    width: 7px;
    height: 7px;
}

.admin__snb ul li {
    padding: 0 0 30px;
}
.admin__snb-background {
    position: fixed;
    display: none;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    z-index: 99;
}
.admin__snb-background.active {
    display: block;
}

.admin__login-info {
    border-bottom: 1px solid #edf0f5;
    padding: 50px 0 50px 39px;
}

.admin__login-info:after {
    content: '';
    display: block;
    clear: both;
}

.admin__login-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.admin__login-detail {
    margin-left: 30px;
    padding-top: 12px;
    color: #6a6c6f;
    font-weight: 600;
}

.admin__login-detail .admin__login-name {
    font-weight: 400;
}

.admin__login-detail>span,
.admin__login-detail>div {
    display: block;
    margin-bottom: 11px;
}

.admin__login-detail a {
    display: inline-block;
    width: 79px;
    height: 23px;
    color: #fff;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
}

.admin__login-detail a.setting-btn {
    background: url(../img/sprite.png);
    background-position: 0 -172px;
}

.admin__login-detail a.logout-btn {
    background: url(../img/sprite.png);
    background-position: -89px -172px;
}

.admin__login-detail a.setting-btn:hover,
.admin__login-detail a.logout-btn:hover {
    background-position: -178px -172px;
}




/* 공통 */
.admin__contents {
    margin: 35px 0 0 0;
    padding: 40px 24px 8px;
}

.admin__section-wrap:after {
    content: '';
    clear: both;
    display: block;
}

.admin__section-wrap-right {
    margin-left: 30px;
    width: calc(100% - 500px);
}

.admin__section {
    background-color: #fff;
    border: 1px solid #d7e0f1;
    box-sizing: border-box;
    padding: 15px 30px;
    margin-bottom: 16px;
}

.admin__section-title {
    position: relative;
    border-bottom: 1px solid #d9dfe9;
    box-sizing: border-box;
    padding-bottom: 12px;
    font-weight: bold;
}
.admin__section-title a {
    display: block;
    position: absolute;
    top: 6px;
    right: 244px;
    font-size: 16px;
    font-weight: 400;
    color: #282828;
}
.admin__section-title a.admin__section-more {
    top: 6px;
    right: 76px;
    color: #ccc;
    display: none;
}

.admin__section-more:after {
    content: '';
    display: block;
    background: url(../img/sprite.png);
    background-position: -330px -37px;
    width: 22px;
    height: 7px;
    position: absolute;
    top: 7px;
    left: 53px;
}

.admin__section-comment {
    position: relative;
    margin-top: 14px;
    line-height: 20px;
}

.admin__section-comment em {
    color: #fb0000;
}

.admin__section-comment .pause-btn {
    position: absolute;
    display: block;
    top: -8px;
    right: 0;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background: url(../img/sprite.png);
    background-position: -109px -139px;
    width: 195px;
    height: 30px;
}

.admin__section-comment .pause-btn:hover{
    background-position: 0 -201px;
}

.admin__section-subcomment {
    margin: 12px 0;
}

.admin__section-subcomment em {
    font-weight: 600;
    font-size: 16px;
}



.admin__message-gateway {
    width: 350px;
    padding: 10px 0 0;
}

.admin__message-gateway-list .admin__item-detail {
    position: relative;
    padding: 10px 0;
    text-align: right;
}

.admin__message-gateway-list li:first-child .admin__item-detail em {
    color: #195fe6;
}
.admin__message-gateway-list li:nth-child(2) .admin__item-detail em {
    color: #63c8cd;
}
.admin__message-gateway-list li:last-child .admin__item-detail em {
    color: #ff9f00;
}
.admin__message-gateway-list li:first-child .admin__item-title {
    background: #195fe6;
}
.admin__message-gateway-list li:nth-child(2) .admin__item-title {
    background: #63c8cd;
}
.admin__message-gateway-list li:last-child .admin__item-title {
    background: #ff9f00;
}

.admin__item-detail em {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}
.admin__item-detail span {
    font-size: 13px;
    font-weight: bold;
}

.admin__item-detail:before {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 46px;
    height: 46px;
    content: '';
    display: block;
}

.admin__message-gateway-list li:first-child .admin__item-detail:before {
    background: url(../img/sprite.png);
    background-position: -400px -1px;
}

.admin__message-gateway-list li:nth-child(2) .admin__item-detail:before {
    background: url(../img/sprite.png);
    background-position: -474px -1px;
}
.admin__message-gateway-list li:last-child .admin__item-detail:before {
    background: url(../img/sprite.png);
    background-position: -548px -1px;
}

.admin__item-title {
    position: relative;
    color: #fff;
    font-weight: bold;
    padding: 6px 0 6px 30px;
}

.admin__item-title:after {
    position: absolute;
    bottom: 6px;
    right: 35px;
    content: '';
    display: block;
}

.admin__message-gateway-list li:nth-child(2) .admin__item-title:after {
    background: url(../img/sprite.png);
    background-position: -623px -1px;
    width: 48px;
    height: 10px;
}

.admin__message-gateway-list li:last-child .admin__item-title:after {
    background: url(../img/sprite.png);
    background-position: -623px -30px;
    width: 48px;
    height: 13px;
}

.admin__table-wrap {
    overflow: auto;
}

.admin__quick-stats {
    margin-left: 30px;
    width: calc(100% - 381px);
}

.admin__quick-stats .admin__table-wrap {
    height: 240px;
}

.admin__quick-chart {
    height: 280px;
    overflow-y: auto;
}

.admin__alarm {
    height: 289px;
}

.admin__alarm .admin__table-wrap {
    height: 200px;
}

.admin__conn-policies .admin__table-wrap {
    height: 145px;
}
.admin__pub-policies .admin__table-wrap {
    height: 145px;
}
.admin__sub-policies .admin__table-wrap {
    height: 145px;
}
.admin__server-control .admin__table-wrap {
    height: 800px;
}



.admin__table {
    width: 100%;
    margin-top: 8px;
}

.admin__table th {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 10px;
    font-weight: 500;
    border: 1px solid #cbcbcb;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    box-sizing: border-box;
    background: #f9f9f9;
}

.admin__table tbody tr:last-child td {
    border-bottom: 1px solid #cbcbcb;
}

.admin__list-of-server .admin__table-wrap {
    max-height: 837px;
}

.admin__list-of-server .admin__table tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.admin__table td {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    border: 1px solid #eaeaea;
}

.admin__table td.server_name,
.admin__table td.device_id {
    color: #3f51b5;
}

.admin__table th .input, 
.admin__table td .input {
    display: block;
    height: 16px;
}

.admin__table th .input input:checked + label,
.admin__table td .input input:checked + label {
        background-position: -430px -80px;
}

.admin__table th .input label,
.admin__table td .input label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background: url('../img/sprite.png');	
	background-position: -400px -80px;
}

.admin__paging-wrap:after {
    content: '';
    display: block;
    clear: both;
}

.admin__total-count-detail {
    font-weight: 500;
    position: absolute;
    top: 9px;
    left: 0;
}

.admin__select {height:24px;padding:0 158px 0 22px;box-sizing:border-box;font-size:15px;letter-spacing:-0.5px;}

.admin__select-wrap {
    position: absolute;
    right: 0;
    top: -5px;
}

.admin__select--server {
    outline: none;
    border: 1px solid #ccc;
    background: transparent;
}

.admin__chart-wrap {
    margin: 40px 0 0 60px;
}

.admin__chart-wrap ul:after {
    content: '';
    display: block;
    clear: both;
}

.admin__chart-wrap ul li {
    position: relative;
    float: left;
    width: 14.28%;
}

.admin__chart-wrap ul li input + label {
    position: absolute;
    top: 0;
    left: -14px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png);
    background-position: -400px -80px;
    margin: 0 20px 0 0;
}

.admin__chart-wrap ul li #chartChk1:checked + label {
    background-position: -460px -80px;
}
.admin__chart-wrap ul li #chartChk2:checked + label {
    background-position: -490px -80px;
}
.admin__chart-wrap ul li #chartChk3:checked + label {
    background-position: -490px -106px;
}
.admin__chart-wrap ul li #chartChk4:checked + label {
    background-position: -519px -80px;
}
.admin__chart-wrap ul li #chartChk5:checked + label {
    background-position: -400px -106px;
}
.admin__chart-wrap ul li #chartChk6:checked + label {
    background-position: -430px -106px;
}
.admin__chart-wrap ul li #chartChk7:checked + label {
    background-position: -460px -106px;
}


/* Monitoring */

.admin__list-of-server {
    width: 470px;
    max-height: 930px;
}

.admin__connection {
    height: 390px;
    overflow: auto;
}

.admin__connection-data .admin__table-wrap {
    height: 307px;
}

.admin__disconnected .admin__table-wrap {
    height: 733px;
}

.admin__publish .admin__table-wrap {
    height: 733px;
}

.admin__subscription .admin__table-wrap {
    height: 699px;
}

.admin__disconnected,
.admin__publish,
.admin__subscription,
.admin__server-monitor {
    max-height: 931px;
}

.admin__connection-data,
.admin__server-monitor {
    position: relative;
}

.admin__connection-data .admin__update-info,
.admin__disconnected .admin__update-info,
.admin__publish .admin__update-info,
.admin__subscription .admin__update-info,
.admin__server-monitor .admin__update-info,
.admin__conn-policies .admin__update-info,
.admin__pub-policies .admin__update-info,
.admin__sub-policies .admin__update-info,
.admin__userid-management .admin__update-info,
.admin__server-control .admin__update-info {
    color: #333;
    padding: 0px 124px 0 0;
}

.admin__connection-data .admin__update-info .pause-btn,
.admin__disconnected .admin__update-info .pause-btn,
.admin__publish .admin__update-info .pause-btn,
.admin__subscription .admin__update-info .pause-btn,
.admin__server-monitor .admin__update-info .pause-btn,
.admin__conn-policies .admin__update-info .pause-btn,
.admin__pub-policies .admin__update-info .pause-btn,
.admin__sub-policies .admin__update-info .pause-btn,
.admin__userid-management .admin__update-info .pause-btn,
.admin__server-control .admin__update-info .pause-btn {
    position: absolute;
    display: block;
    top: -6px;
    right: 0;
    color: #fff;
    font-weight: 500;
    padding: 0px 10px;
    border-radius: 2px;
    box-sizing: border-box;
    background: url(../img/sprite.png);
    background-position: 0 -139px;
    width: 82px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.admin__update-info .pause-btn:hover {
    background-position: -178px -171px;
}


.admin__search-wrap {
    text-align: right;
    margin: 6px 0;
}

.admin__connection-data .admin__search-wrap,
.admin__disconnected .admin__search-wrap,
.admin__publish .admin__search-wrap,
.admin__subscription .admin__search-wrap,
.admin__conn-policies .admin__search-wrap,
.admin__pub-policies .admin__search-wrap,
.admin__sub-policies .admin__search-wrap,
.admin__userid-management .admin__search-wrap {
    text-align: left;
}

.admin__search-wrap select {
    width: 360px;
    height: 24px;
    border: 1px solid #ccc;
    text-indent: 20px;
    box-sizing: border-box;
    line-height: 30px;
    outline: 0;
    background: transparent;
    vertical-align: middle;
}

.admin__search-wrap input {
    width: 210px;
    height: 24px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: 0;
    text-indent: 20px;
    vertical-align: middle;
}

.admin__search-wrap button {
    display: inline-block;
    width: 64px;
    height: 24px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    color: #333;
}

.admin__search-wrap .search-btn {
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -99px;
    cursor: pointer;
}

.admin__search-wrap .search-btn:hover {
    color: #fff;
}

.admin__search-wrap .delete-btn {
    position: absolute;
    right: 57px;
    color: #fff;
    cursor: pointer;
    background: url(../img/sprite.png);
    background-position: -90px -99px;
}
.admin__search-wrap .add-btn {
    position: absolute;
    right: 137px;
    color: #fff;
    cursor: pointer;
    background: url(../img/sprite.png);
    background-position: -180px -99px;
}
.admin__search-wrap .delete-btn:hover,
.admin__search-wrap .add-btn:hover {
    background-position: 0 -99px;
}

.admin__table-paging-wrap {
    position: relative;
    margin-top: 4px;
}

.admin__num-list-wrap {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    font-weight: 500;
}

.admin__num-list-wrap .num-list {
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    text-indent: 20px;
    outline: 0;
}

.admin__subscription .admin__table thead tr th~th,
.admin__subscription .admin__table tbody tr td~td{
    border-left: 1px solid #f2f2f2;
    padding: 13px 0;
}

/* .admin__subscription .admin__table thead tr:first-child th, 
.admin__subscription .admin__table thead tr:nth-child(2) th:first-child,
.admin__subscription .admin__table thead tr:nth-child(2) th:nth-child(4),
.admin__subscription .admin__table thead tr:nth-child(2) th:nth-child(7),
.admin__subscription .admin__table tbody td:nth-child(3),
.admin__subscription .admin__table tbody td:nth-child(6),
.admin__subscription .admin__table tbody td:nth-child(9) {
    border-left: 1px solid red;
} */

.admin__subscription .admin__table thead tr:nth-child(2) th {
    background: #f9f9f9;
    padding: 5px 0;
    vertical-align: middle;
    font-size: 12px;
}

.admin__subscription .admin__table thead tr:nth-child(2) th:nth-child(2) {
    border-left: 1px solid #f2f2f2;
}

.admin__server-monitor-wrap {
    margin: 0 30px 0 0;
}

.admin__server-checklist .admin__table .server_color {
    display: inline-block;
    width: 120px;
    height: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: middle;
}

.admin__server-monitor .admin__search-wrap {
    text-align: left;
    font-weight: 500;
}

.admin__server-monitor .admin__search-wrap .server-use-date {
    width: 190px;
    margin-right: 26px;
}
.admin__server-monitor .admin__search-wrap .server-use-hr,
.admin__server-monitor .admin__search-wrap .server-use-min {
    width: 90px;
}
.admin__server-monitor .admin__search-wrap .server-use-hr {
    margin-right: 26px;    
}

.admin__server-chart-wrap div {
    font-weight: 600;
    height: 216px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

.admin__server-chart-wrap .cpu-chart {
    color: #195fe6;
}
.admin__server-chart-wrap .memory-chart {
    color: #63c8cd;
}
.admin__server-chart-wrap .disk-chart {
    color: #ff9f00;
}


.server_color.sc1{background: #f00;}
.server_color.sc2{background: #1f497d;}
.server_color.sc3{background: #e46c0a;}
.server_color.sc4{background: #ff66cc;}
.server_color.sc5{background: #00b050;}
.server_color.sc6{background: #ffd44b}
.server_color.sc7{background: #953735;}
.server_color.sc8{background: #8064a2;}
.server_color.sc9{background: #4f81bd;}
.server_color.sc10{background: #9bbb59;}
.server_color.sc11{background: #7f7f7f;}
.server_color.sc12{background: #948a54;}
.server_color.sc13{background: #f79646;}
.server_color.sc14{background: #558ed5;}
.server_color.sc15{background: #17375e;}
.server_color.sc16{background: #ff0dae;}
.server_color.sc17{background: #006c31;}


/* User ID Management */
.admin__userid-management .admin__table-wrap {
    height: 740px;
}

/* SERVER CONTROL */
.admin__server-control select {
    width: 116px;
    height:24px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing:border-box;
    outline: 0;
}





/* Modal Popup */
.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9999;
    display: none;
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 870px;
    background: #fff;
}
.modal-header {
    background: #ebebeb;
    color: #282828;
    font-weight: 600;
    padding: 16px 0 16px 30px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 10px 10px 0 0;
}
.modal-explan {
    padding: 24px 57px;
    line-height: 24px;
}
.modal-contents {
    padding: 0 70px 50px 70px;
}
.modal-contents span {
    display: inline-block;
    width: 130px;
    height: 30px;
    background: #ebebeb;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 10px;
}
.modal-contents input[type="text"] {
    width: 584px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    text-indent: 20px;
    box-sizing: border-box;
    outline: 0;
    margin-bottom: 10px;
}
.modal-contents div {
    padding-top: 10px;
}
.modal-contents .add-policy {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.modal-contents .add-policy .policy-comment {
    height: 50px;
    line-height: 50px;
    margin-top: 9px;
}
.modal-contents .add-policy .policy-comment-textarea {
    width: 558px;
    height: 43px;
    line-height: 20px;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding-left: 20px;
}

.modal-contents .add-client {
    margin-top: 10px;
}

.modal-contents .add-client ul:after {
    content: '';
    display: block;
    clear: both;
}

.modal-contents .add-client ul li {
    float: left;
    width: 50%;
}

.modal-contents .add-client ul li > span {
    text-align: left;
    background: transparent;
    margin-right: 10px;
}
.modal-contents .add-client ul li input[type="text"] {
    width: 167px;
    background: #eee;
    border-color: #eee;
}

.modal-contents .add-setting {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 20px;
}

.modal-contents .add-setting ul li {
    margin-bottom: 10px;
}

.modal-contents .add-setting span {
    text-align: left;
    width: 48%;
    padding-left: 20px;
    margin-bottom: 0;
}
.modal-contents .add-setting input {
    width: 48%;
    margin-bottom: 0;
}
.modal-contents .add-setting ul li:last-child input {
    width: 30%;
}
.modal-contents .add-setting ul li:last-child span.set-sec {
    background-color: transparent;
    width: 20%;
}
.modal-contents .add-setting select {
    border: 1px solid #ccc;
    width: 48%;
    height: 30px;
    border-radius: 2px;
    text-indent: 20px;
    outline: 0;
}

#regiModal .modal-container,
#pwresetModal .modal-container {
    width: 700px;
}

#regiModal .modal-contents,
#pwresetModal .modal-contents {
    padding: 0 70px 50px 100px;
}

.modal-contents .add-userregi ul li {
    margin-bottom: 10px;
}

.modal-contents .add-userregi .set-title {
    text-align: left;
    width: 190px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}
.modal-contents .add-userregi .set-title.desc {
    width: 190px;
    height: 68px;
    line-height: 68px;
}
.modal-contents .add-userregi #webUserId {
    margin-left: 30px;
    width: 287px;
    vertical-align: top;
}
.modal-contents .add-userregi input[type="text"],
.modal-contents .add-userregi input[type="password"] {
    width: 286px;
    margin-bottom: 0;
    margin-left: 30px;
}
.modal-contents .add-userregi input[type="password"] {
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    text-indent: 20px;
}

.modal-contents .add-userregi textarea {
    width: 286px;
    height: 68px;
    border: 1px solid #ccc;
    vertical-align: middle;
    box-sizing: border-box;
    outline: 0;
    margin-left: 30px;
}
.modal-contents .add-userregi ul li:last-child span.set-sec {
    background-color: transparent;
    width: 20%;
}
.modal-contents .add-userregi select {
    border: 1px solid #ccc;
    width: 48%;
    height: 30px;
    border-radius: 2px;
    text-indent: 20px;
    outline: 0;
}


.modal-contents .add-client ul li input[type="checkbox"] {
    position: relative;
    display: none;
}
.modal-contents .add-client ul li input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #fff;
    margin: 0 17px 0 0;
    vertical-align: -6px;
    background: url('../img/sprite.png');	
    background-position: -400px -80px;
}
.modal-contents .add-client ul li input[type="checkbox"]:checked + label:before {
    background-position: -430px -80px;
}
.modal-contents .add-userregi ul li input[type="checkbox"] {
    position: relative;
    display: none;
}
.modal-contents .add-userregi ul li input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #fff;
    margin: 0 5px 0 30px;
    vertical-align: -6px;
    background: url('../img/sprite.png');	
    background-position: -400px -80px;
}
.modal-contents .add-userregi ul li input[type="checkbox"]:checked + label:before {
    background-position: -430px -80px;
}

#serverStart .modal-container,
#serverStop .modal-container {
    width: 500px;
}
#serverStart .modal-contents,
#serverStop .modal-contents {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}





/* Footer */
.admin__wrap--footer {
    position: fixed;
    bottom: 0;
    background: #edf0f5;
}
.admin__footer {
    margin: 0 25px;
    height: 50px;
    border-top: 1px solid #c8d3e6;
}
.admin__footer .connection-wrap {
    float: right;
    width: 184px;
    margin: 14px 28px 0 0;
}
.admin__footer .connection-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.admin__footer .connection-wrap em {
    display: block;
    font-weight: bold;
    line-height: 24px;
    color: #282828;
}
.admin__footer .connection-wrap .connection-info {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #00f600;
    border-radius: 50%;
    margin-left: 26px;
}





/* Button Style */
.reset-btn {
    display: inline-block;
    width: 117px;
    height: 25px;
    background: url(../img/sprite.png);
    background-position: -270px -171px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}
.reset-btn:hover {
    background-position: -397px -171px;
}
.modal-btns {
    margin-bottom: 34px;
    text-align: center;
}
.refresh-btn {
    float: left;
    display: block;
    color: transparent;
    text-indent: -3000px;
    margin-left: 23px;
    margin-top: -6px;
}
.save-btn,
.stop-btn,
.close-btn {
    width: 121px;
    height: 29px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    background: url(../img/sprite.png);
    vertical-align: middle;
}
.save-btn {
    background-position: 0 -234px;
}
.stop-btn {
    background-position: -388px -234px;
}
.close-btn {
    display: inline-block;
    line-height: 30px;
    letter-spacing: 0;
    font-size: 14px;
    background: url(../img/sprite.png);
    background-position: -130px -234px;
}

.save-btn:hover,
.stop-btn:hover,
.close-btn:hover {
    background-position: -259px -234px;
}

.server_lamp {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.server_lamp.on {
    background-color: #22d100;
}





/* toggle style */

.toggle {display: none;}
.toggle + label {
    display: inline-block;
    width: 70px;
    height: 26px;
    border-radius: 26px;
    cursor: pointer;
    position: relative;
    background-color: #ccc;
}
.toggle + label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    left: 4px;
    bottom: 4px;
    position: absolute;
    background-color: #fff;
    transition: all .4s ease;
    border-radius: 18px;
}
.toggle:checked + label {background-color: #22d100;}
.toggle:checked + label:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}